@page "/components/random-number"
@layout EmptyLayout

<div hx-get="/components/random-number" hx-trigger="every 2s" hx-swap="outerHTML">
	<h4 class="text-orange-500 font-medium">Random Number is @Num</h4>
</div>

@code {
	private int Num { get; set; }

	protected override void OnInitialized()
	{
		Random rnd = new Random();
		Num = rnd.Next();
	}
}