@code {

	[CascadingParameter] public PageState PageState { get; set; } = default!;

}

<nav class="navbar px-4 sm:px-12 max-w-6xl mx-auto" x-data="{ desktopMenuOpen: false, mobileMenuOpen: false }">
	<div class="flex-1">
		<a href="/">
			<ApplicationLogo/>
		</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			@if (PageState.User.IsAuthenticated)
			{
				<li>
					<details>
						<summary>
							@PageState.User.Name
						</summary>
						<ul class="p-2 bg-base-100 rounded-t-none z-10">
							<li>
								<a href="/dashboard" >Dashboard</a>
							</li>
							<li>
								<a href="/profile/edit" >Profile</a>
							</li>
							<li>
			                    <form action="/logout" method="post">
			                        <AntiforgeryToken />
			                        <button type="submit">
				                        Logout
			                        </button>
			                    </form>
							</li>
						</ul>
					</details>
				</li>
			}
			else
			{
				<li>
					<a href="/login">Login</a>
				</li>
				<li>
					<a href="/register">Register</a>
				</li>
			}
		</ul>
		@* <div class="w-auto md:hidden"> *@
		@* 	<button x-on:click="mobileMenuOpen = !mobileMenuOpen" class="text-gray-600 hover:text-black hover:bg-gray-100 bg-transparent p-2"> *@
		@* 		<svg x-show="!mobileMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"> *@
		@* 			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/> *@
		@* 		</svg> *@
		@* 		<svg x-show="mobileMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"> *@
		@* 			<path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd"/> *@
		@* 		</svg> *@
		@* 	</button> *@
		@* </div> *@
	</div>
	@* <div x-cloak x-show="mobileMenuOpen" class="lg:hidden bg-white drop-shadow-lg z-50 mb-12" id="mobile-menu"> *@
	@* 	<div class="py-3 space-y-1 px-4 md:px-12"> *@
	@* 		@if (PageState.User.IsAuthenticated) *@
	@* 		{ *@
	@* 			<a x-on:click="mobileMenuOpen = false" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium" href="/dashboard">Dashboard</a> *@
	@* 			<a x-on:click="mobileMenuOpen = false" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium" href="/profile/edit">Profile</a> *@
	@* 			<a x-on:click="mobileMenuOpen = false" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium" href="/logout">Logout</a> *@
	@* 			<p class="text-sm px-4 py-2 border-t">@PageState.User.Name</p> *@
	@* 		} *@
	@* 		else *@
	@* 		{ *@
	@* 			<a x-on:click="mobileMenuOpen = false" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium" href="/login">Login</a> *@
	@* 			<a x-on:click="mobileMenuOpen = false" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium" href="/register">Register</a> *@
	@* 		} *@
	@* 	</div> *@
	@* </div> *@
</nav>