@page "/dashboard"
@attribute [Authorize]
@code {
    [Inject] public DatabaseContext Db { get; set; } = default!;
    protected override void OnInitialized()
    {
        var user = Db.Users.Find(55);
        var thing = user.Name;
    }
}

<PageTitle>Dashboard</PageTitle>

<section>
    <article class="prose max-w-none">
        <h1>
            Dashboard
        </h1>
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <p>
                    You're logged in!
                </p>
            </div>
        </div>
    </article>
</section>