@page "/"

<PageTitle>Home</PageTitle>

<section>
    <article class="prose max-w-none">
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h1>
                    Build something beautiful
                </h1>
                <p>
                    Spark picks up where ASP.NET leaves off. Build production ready, full-stack web applications fast.
                </p>
                <p>
                    View the <a href="https://spark-framework.net" target="_blank">documentation →</a>
                </p>
                <a href="/dashboard">Link to page with errors</a>
                <a href="/test">Link to page that doesn't exist</a>
            </div>
        </div>
    </article>
</section>