@inherits LayoutComponentBase

<div class="bg-gray-100 flex flex-col h-screen">
    <NavMenu />
    <div class="flex flex-grow py-20 px-12">
        <div class="max-w-6xl mx-auto  w-full">
            @Body
        </div>
    </div>
</div>